.phone_numbers_title{
    margin-bottom: 5%;
}

.phone_number_list_div{
    margin: 10px 0px 0px 0px;
}

.phone_number_list_table{
    border: 2px solid;
}

.phone_filters{
    margin-top: 20px;
}

.btn{
    border: 2px solid;
}

.btn:hover{
    border: 2px solid;
}

.phone_number_list_table th,td{
    border-left: 2px solid;
}

.phone_number_list_table thead th{
    background-color: #c2c0c0;
}

.phone_number_pagination_buttons{
    float:right;
}
.phone_number_pagination_buttons li{
    margin: 0px 5px 0px 5px;
    width: 100px;
}

.phone_number_pagination_buttons .fa-arrow-alt-circle-left{
    float: left;
    position: relative;
    left:10%;
    bottom:50%
}

.phone_number_pagination_buttons .fa-arrow-alt-circle-right{
    float: right;
    position: relative;
    right:20%;
    top:15%
}

.phone_number_pagination_buttons .next_item{
    float: left;
}

.phone_number_pagination_buttons .prev_item{
    float: right;
}
.phone_number_pagination_buttons a{
    box-shadow: 2px 3px;
    color:black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone_number_pagination_buttons a:hover{
    color:black;
    background-color: unset;
}
