.phone_number_list_div{
    margin: 10px 0px 0px 0px;
}

.phone_number_list_table{
    border: 2px solid;
}

.phone_filters{
    margin-top: 20px;
}

.btn{
    border: 2px solid;
}

.btn:hover{
    border: 2px solid;
}

.phone_number_list_table th,td{
    border-left: 2px solid;
}

.phone_number_list_table thead th{
    background-color: #adadad;
}

.phone_number_pagination_buttons{
    float:right;
}
